@font-face {
    font-family: MajorMonoDisplay;
    src: url("assets/fonts/MajorMonoDisplay-Regular.ttf");
}
@font-face {
    font-family: UbuntuMono;
    src: url("assets/fonts/UbuntuMono-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: UbuntuMono;
    src: url("assets/fonts/UbuntuMono-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: UbuntuMono;
    src: url("assets/fonts/UbuntuMono-Italic.ttf");
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: UbuntuMono;
    src: url("assets/fonts/UbuntuMono-BoldItalic.ttf");
    font-style: italic;
    font-weight: 700;
}
body {
    font-family: UbuntuMono;
    min-height: 100vh;
    margin: 0; padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
* {
    box-sizing: border-box;
  }
  .header {
    background-color: bisque;
    ;
  }
  .main {
    border: 1px solid red;
  }
  .footer {
    border: 1px solid red;
  }
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  .nav-link {
    font-family: MajorMonoDisplay;
    padding: 0 40px;
    line-height: 40px;
    font-size: 24px;
    text-decoration: none;
    transition: .3s;
    color: red;
  }
  .nav-link:hover {
    color: bisque;
    background-color: crimson;
    padding: 24px 40px;
  }
  html {
    scroll-behavior: smooth;
  }